@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
*{
    margin: 0;
}
.home_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D3E50;
    width: 100%;
}
.home_nav_logo{
    display: flex;
    align-items: center;
    padding: 5px 50px;
    color: white;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 800px;
    font-size: 20px;
}
.home_nav_logo > span{
    margin-left: 10px;
}
.home_nav_logo > img{
    width: 100px;
}
.home_nav_btns{
    flex: 0.6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home_nav_btn{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.home_nav_btn > a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Gowun Dodum', sans-serif;
    transition: 300ms ease-in-out;
}
.home_nav_btn:hover > a{
    transform: scale(1.5);
    color: #01D28E;
}
input[type=text], select ,textarea{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=date]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=file]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 200px;
    background-color: #6C5CE7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
}
input[type=submit]:hover {
    background-color: rgb(86, 73, 190);
}
.create_body{
    background-color: #EBECEE;
}
.create_body > h1{
    text-align: center;
    margin: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 800;
}
.create_field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 800;
}
.form_field{
    max-width: 500px;
    width: 100%;
    background-color: #01D28E;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.main_form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
.back_button{
    background-color: #6C5CE7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
    text-decoration: none;
}
.back_button:hover{
    background-color: rgb(86, 73, 190);
}
@media screen and (max-width: 800px){
    .home_nav_btns{
        display: none;
    }
}
