@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
*{
    margin: 0;
}
.home_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D3E50;
    width: 100%;
}
.home_nav_logo{
    display: flex;
    align-items: center;
    padding: 5px 50px;
    color: white;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 800px;
    font-size: 20px;
}
.home_nav_logo > span{
    margin-left: 10px;
}
.home_nav_logo > img{
    width: 100px;
}
.home_nav_btns{
    flex: 0.6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home_nav_btn{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.home_nav_btn > a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Gowun Dodum', sans-serif;
    transition: 300ms ease-in-out;
}
.home_nav_btn:hover > a{
    transform: scale(1.5);
    color: #01D28E;
}
.detail_body{
    background-color: #ADF0D1;
}
.details_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.patient_detail{
    background-color: #00203F;
    max-width: 300px;
    width: 100%;
    text-align: left;
    padding: 50px;
    border-radius: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 900;
    color: white;
    margin-top: 30px;
}
.patient_detail > img{
    max-width: 300px;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 800;
}
.back_button{
    position: absolute;
    bottom: 0;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 800;
}
@media screen and (max-width: 800px){
    .home_nav_btns{
        display: none;
    }
    .home_main_text{
        width: 100%;
    }
    .home_main_text > p{
        font-size: 25px;
    }
    .home_body_mid_content{
        padding: 0 5px;
    }
    .patient_detail{
        padding: 0 5px;
        margin-top: 30px;
    }
}